body {
  font-family: 'Khula', sans-serif;
}

nav {
  background-color: #FFFFFF;
}

.navbar-brand {
  color: #1a1a1a;
  text-transform: uppercase;
  font-weight: 800;
}

.navbar-nav a {
  color: #1a1a1a;
  text-transform: uppercase;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Khula', serif;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.center-block {
  float: none;
}

.container-fluid{
  padding-top: 30px;
  padding-bottom: 30px;
}

#splash {
  margin-top: 50px;
}

.greeting {
  min-height:500px;
  text-align: center;
}

.greeting:before {
 content: '';
  display: inline-block;
  min-height: 500px;
  height: 100%;
  vertical-align: middle;
  font-size: 0px; 
}

.hello-text {
  display: inline-block;
  vertical-align: middle;
  background-color: rgb(77, 203, 172);
  background-color: rgba(77, 203, 172, .5);
  color: #333333;
  padding-left: 20px;
  padding-right: 20px;
}

#hi {
  font-size: 60px;
  margin-bottom: 10px;
}

#hi2 {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}

#what-i-do {
  background-color:#eef6f0;
}

#what-i-do p {
  font-size: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.skill-image {
  max-width: 90%;
  position: relative;
  left: 5%;
  border: 15px solid #fff;
}

.skill-image-first {
  max-width: 90%;
  position: relative;
  left: 5%;
  border: 15px solid #FFF;
}

#portfolio {

}

.portfolio-item {
  height: 300px;
  overflow: hidden;
  overflow-x: hidden;
  border: 10px solid #eef6f0;
  margin-bottom: 20px;
}

/* make this a hover effect later?? */
.portfolio-caption{

}

/* figure out how to add actual javascript if/else */
.wide-resize{
  height: 100%;
}

.tall-resize {
  width: 100%;
}

.img-caption{
position: absolute;
bottom: 0;
}

#about-me {
  background-color:#e6e6e6;
}

#about-me img {
  max-width: 90%;
  max-height: 250px;
  border: solid;
  border-width: 10px;
  border-color: #FFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#selfie {
  padding-top:15px;
  padding-bottom:15px;
  display: inline-block;
  float: right;
}

/*
#selfie:before {
  content:"";
  vertical-align: middle;
  display: inline-block;
  font: 0px;
}
*/

#about-me-text {
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}

#connect {
  margin: auto;
}

/* unused */
.contact-form {
  max-width: 400px;
  padding-top: 15px;
}

#social-media {
  background-color: #FFFFFF;
}

.sm-button{
  display: inline-block;
  padding-bottom: 20px;
}
.sm-button img{
  margin-left: auto;
  margin-right: auto;
}
#footer {
  background-color: #e6e6e6;
}
